<div class="container mt-4">
    <h2>Listado de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each usuarios}}
            <tr>
                <td>{{id_usuario}}</td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{dni}}</td>
                <td>{{correo}}</td>
                <td>{{telefono}}</td>
                <td>
                    <form action="/usuarios/edit/{{_id}}" method="GET" style="display:inline;">
                        <button type="submit" class="btn btn-warning">Editar</button>
                    </form>
                    <form action="/usuarios/delete/{{_id}}" method="POST" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/usuarios/add" class="btn btn-primary">Añadir Usuario</a>
</div>
